$accent:#597193;
$default:#939393;
$title:#3D4550;
$bg:#FFFFFF;


%worksans-400{
    font-family: Work Sans;
    font-weight: 400;    
}

%worksans-500{
    font-family: Work Sans;
    font-weight: 500;
}

%opensans-300{
font-family: Open Sans;
font-weight: 300;
}

%opensans-400{
font-family: Open Sans;
font-weight: 400;
}

%opensans-600{
font-family: Open Sans;
font-weight: 600;
}

%opensans-700{
    font-family: Open Sans;
    font-weight: 700;
}

%averagesans-400{
    font-family: Average Sans;
    font-weight: 400;
    color: #9B9B9B;
}